/*-- scss:defaults --*/

// Colors
/* source: https://coolors.co/palettes/trending */
$blue-4: #283E82;
$blue-3: #077DC2;
$blue-2: #01BAEF;
$blue-1: #5DDBFE;
$orange-4: #EB6534;
$orange-3: #FF9B00;
$orange-2: #F9B000;
$orange-1: #FFD879;

$cream: #F4F3EE;
$gray-0: #d6d6d6;
$gray-1: #BCB8B1;
$gray-2: #8A817C;
$gray-3: #222823;
$gray-4: #191919;
$black: #08090A;

// Fonts
$font-size: 25px;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

// Base document colors
$navbar-bg: $orange-3; // navbar
$navbar-fg: $blue-4; // navbar foreground elements
$navbar-hl: $blue-3; // highlight color when on a page
$body-bg: $gray-4; // page background
$body-color: $cream; // page text
$footer-bg: $blue-3; // footer
$link-color: $blue-2; // hyperlinks

// Inline code
$code-bg: $gray-3; // inline code background color
$code-color: $cream; // inline code text color

// Code blocks
$code-block-bg: $blue-4; // code block background color

/*-- scss:rules --*/

// Code chunk ouput
pre code:not(.sourceCode) { background-color: $gray-0; }

// Active tabset panel (tab then tab content)
.nav-tabs .nav-link.active {
  background-color: $gray-3;
  color: $cream;
}
.tab-content { background-color: $gray-3; }

// Navbar dropdown elements
.dropdown-menu{
  --bs-dropdown-link-hover-color: #191919;
  --bs-dropdown-link-hover-bg: #077DC2;
}

// Code language semantic text colors
.r { color: $orange-3; }
.py { color: $blue-3; }
.sql { color: $blue-4; }
.cli {color: $orange-4; }
